<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
  

<div class>
  <style>
      Body{
          background-image: url('./Assets/Images/background.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed; 
      }
  </style>  
      <h2>Khushboo Koshti </h2><br>
      <img id="mypic" src="./Assets/Images/Khushboo-photo.jpeg" alt="mypic">
  </div>
  <div class=""><br>
      <div class="About">
        Ability to perform service-oriented individual with strong customer handling as well as a team 
        member. Proficient in project management, strategic decision making and visual communications. To obtain a challenging and rewarding job and to secure a position by hard work, dedication and 
        ability to acquire new skills that can transform my career growth better in future. To work in a position in an organization to expand my learnings, knowledge and skills, while 
        making a significant contribution to the success of the company.
        industry.
         <br>  
               <h4><br>Click here for Resume</h4><br>
          <a href='./Assets/Images/Khushboo Koshti Non-Technical Resume.pdf' target="_blank"> Click here</a> 
        </div>      
  </div>
