<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
<div>


    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="Content/app.css" rel="stylesheet" />
    </head>
  <style>
     Body{
          background-image: url('./Assets/Images/background.jpg');
     }
  </style>  
          
          <div class>
              <h1>Khushboo Koshti</h1>
              <div> <h2>Software Engineer</h2></div>
              <div><h2>Skills: Javascript, MY SQL, C#, Java</h2></div>
          </div>
  </div>


