<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<style>
    Body{
        background-image: url('./Assets/Images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; 
    }
 </style>  
 <div class="projects">
    <div class="projects">
        <img src="./Assets/Images/realestate.jpg" alt="Project 1" height="400px" width="500px">
        <p><h3>Real Estate Website</h3><br>
          <span><h5>Using HTML</h5></span><br>
            <span class="skills">THis websibe was basically made to sell properties. the website has given complete knowledge about each property and its surrounding. It also had the contact me page and email by which a person can directly contact the contractor and gain more details about the listings.</span>
        </p>
    <div class="project">
        <img src="./Assets/Images/restaurant.png" alt="Project 2" height="350px" width="450px">
        <p><h3>Restaurant Application</h3><br>
            <span><h5>Using Agile MethodologyL</h5></span><br>
              <span class="skills">Used use case diagram, domain class diagram, state machine diagram and many more to convey how the applications works efficiently.</span>
          </p>
    <div class="project">
        <img src="./Assets/Images/warehouse.jpg" alt="Project 3" height="350px" width="450px">
        <p><h3>Warehouse Inventory Management</h3><br>
            <span><h5>Using Database SQL</h5></span><br>
              <span class="skills">This shows how the inventory works efficiently and how a person keeps record of it. All this data will be dynamically taken from the database.</span>
          </p>
    </div>
 </div>
 
 
 
 
 
 