<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>


<style>
   Body{
       background-image: url('./Assets/Images/background.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed; 
   }
</style>  
<div>
   <div class="raw">
       <div class="column">
           <img src="./Assets/Images/html.png" alt="HTML" height="200" width="200">
           <br>
           <h3>HTML/CSS</h3><br>
           <p>Ability to create reusable basic techniques. To ensure accuracy and quality, source code is inspected. Able to  include artistic resources in HTML, including photos, pdfs, and a many more.</p>
       </div>

       <div class="column">
           <img src="./Assets/Images/c++.png" alt="Java" height="200" width="200">
           <br>
           <h3>C++</h3><br>
           <p>Able to comprehend technological needs and can function both as an effective team member and with confidence at all levels of management. Can offer both core application development and systems integration.</p>
       </div>

       <div class="column">
           <img src="./Assets/Images/python.jpeg" alt="Javascript" height="200" width="200">
           <br>
           <h3>Python</h3><br>
           <p>Able to generate custom scripts or low-level designs based on the analysis and creation of business requirements. Able to inform peers and management of problems, solutions, updates, and project status. Able to overcome obstacles to put fresh ideas into practise.</p>
       </div>
   </div>
   

  

